<%= form_with model: [:admin, @gift], local: true, class: "admin-form" do |f| %>
  <div class="admin-form-field">
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name, required: true %>
  </div>

  <div class="admin-form-field">
    <%= f.label :price, "Preço" %>
    <%= f.number_field :price, step: 0.01, required: true %>
  </div>

  <div class="admin-form-field">
    <%= f.label :image_url, "URL da imagem" %>
    <%= f.url_field :image_url %>
  </div>

  <div class="admin-form-field">
    <%= f.label :description, "Descrição" %>
    <%= f.text_area :description %>
  </div>

  <%= f.submit "Salvar", class: "btn btn-light" %>
<% end %>
